The table is based on the 2019-20 autonomous vehicle disengagement reports in DMV website: https://www.dmv.ca.gov/portal/dmv/detail/vr/autonomous/disengagement_report_2019

In [41]:
#@title Setup
%config InlineBackend.figure_format = 'retina'
import math
import pandas as pd
import numpy as np
#from numpy import inf
from progressbar import progressbar
import scipy.stats
import statsmodels.stats.power as power
from functools import partial
import matplotlib.pyplot as plt

#@title Google Drive Mount
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [0]:
#path="/content/drive/My Drive/2019AutonomousMileageReports.csv"
path = "https://www.dmv.ca.gov/portal/wcm/connect/97c8391d-0cef-4d3e-8acd-0ded876fd364/2019AutonomousMileageReports.csv?MOD=AJPERES&CVID="
auto = pd.read_csv(path)

In [26]:
auto.columns  #Display the variables in the report

Index(['Manufacturer', 'Permit Number', 'VIN NUMBER',
       'Annual Total of Disengagements', '18-Dec', '19-Jan', '19-Feb',
       '19-Mar', '19-Apr', '19-May', '19-Jun', '19-Jul', '19-Aug', '19-Sep',
       '19-Oct', '19-Nov', 'ANNUAL TOTAL'],
      dtype='object')

In [12]:
auto.Manufacturer.unique()  #A list of the manufacturers

array(['AImotive Inc.', 'Apple Inc.', 'Aurora Innovation, Inc.',
       'AutoX Technologies, Inc.', 'Baidu USA LLC',
       'BMW of North America', 'CRUISE LLC', 'Drive.ai Inc', 'Lyft',
       'Mercedes0Benz Research & Development North America, Inc.',
       'Nissan North America, Inc', 'Nullmax', 'Nuro', 'NVIDIA',
       'Phantom AI, Inc. ', 'PlusAI, Inc.', 'PONY.AI, INC.',
       'Qualcomm Technologies, Inc.', 'SAIC Innovation Center',
       'SF Motors, Inc.', 'Telenav, Inc.', 'Tesla, Inc.',
       'Toyota Research Institute', 'Udelv, Inc',
       'Valeo North America Inc.', 'Waymo LLC', 'WeRide Corp',
       'Zoox, Inc'], dtype=object)

In [27]:
auto[auto['Manufacturer'] == 'Baidu USA LLC']

     Manufacturer Permit Number  ...  19-Nov  ANNUAL TOTAL
87  Baidu USA LLC        AVT015  ...  5570.6       27867.4
88  Baidu USA LLC        AVT015  ...     0.0          56.6
89  Baidu USA LLC        AVT015  ...  4116.4       36646.0
90  Baidu USA LLC        AVT015  ...  5012.6       43730.2

[4 rows x 17 columns]

In [14]:
auto[auto.Manufacturer == 'Tesla, Inc.' ]

    Manufacturer Permit Number         VIN NUMBER  ...  19-Oct  19-Nov  ANNUAL TOTAL
452  Tesla, Inc.        AVT005  5YJ3E1EB0JF086296  ...     0.0     0.0          12.2

[1 rows x 17 columns]

In [0]:
data = auto.groupby('Manufacturer')[['Annual Total of Disengagements','ANNUAL TOTAL']].sum().reset_index()
data.columns = ['Manufacturer','Number of Diseng','2019 Total']

In [29]:
data['Avg Dist b/w Diseng'] = round(data['2019 Total']/data['Number of Diseng'])
data['2019 Total'] = round(data['2019 Total'])
data.head()

               Manufacturer  Number of Diseng  2019 Total  Avg Dist b/w Diseng
0             AImotive Inc.                26      6056.0                233.0
1                Apple Inc.                64      7544.0                118.0
2   Aurora Innovation, Inc.               141     13429.0                 95.0
3  AutoX Technologies, Inc.                 3     32054.0              10685.0
4      BMW of North America                 8        21.0                  3.0

In [30]:
with pd.option_context('mode.use_inf_as_null', True):
  data = data.sort_values('Avg Dist b/w Diseng', ascending=False, na_position='last')

data

                                         Manufacturer  ...  Avg Dist b/w Diseng
5                                       Baidu USA LLC  ...              18050.0
25                                          Waymo LLC  ...              13219.0
6                                          CRUISE LLC  ...              12221.0
3                            AutoX Technologies, Inc.  ...              10685.0
14                                      PONY.AI, INC.  ...               6476.0
13                                               Nuro  ...               2022.0
27                                          Zoox, Inc  ...               1596.0
16                                       PlusAI, Inc.  ...                940.0
0                                       AImotive Inc.  ...                233.0
26                                        WeRide Corp  ...                152.0
1                                          Apple Inc.  ...                118.0
2                             Aurora Innovation, Inc.  ...                 95.0
17                        Qualcomm Technologies, Inc.  ...                 58.0
18                             SAIC Innovation Center  ...                 56.0
7                                        Drive.ai Inc  ...                 53.0
11                          Nissan North America, Inc  ...                 48.0
12                                            Nullmax  ...                 35.0
15                                  Phantom AI, Inc.   ...                 26.0
8                                                Lyft  ...                 26.0
19                                    SF Motors, Inc.  ...                 25.0
10                                             NVIDIA  ...                 11.0
20                                      Telenav, Inc.  ...                  7.0
9   Mercedes0Benz Research & Development North Ame...  ...                  7.0
4                                BMW of North America  ...                  3.0
23                                         Udelv, Inc  ...                  2.0
22                          Toyota Research Institute  ...                  1.0
24                           Valeo North America Inc.  ...                  1.0
21                                        Tesla, Inc.  ...                  inf

[28 rows x 4 columns]

In [0]:
data = data.replace(inf, 0)

In [46]:
data

                                         Manufacturer  ...  Avg Dist b/w Diseng
5                                       Baidu USA LLC  ...              18050.0
25                                          Waymo LLC  ...              13219.0
6                                          CRUISE LLC  ...              12221.0
3                            AutoX Technologies, Inc.  ...              10685.0
14                                      PONY.AI, INC.  ...               6476.0
13                                               Nuro  ...               2022.0
27                                          Zoox, Inc  ...               1596.0
16                                       PlusAI, Inc.  ...                940.0
0                                       AImotive Inc.  ...                233.0
26                                        WeRide Corp  ...                152.0
1                                          Apple Inc.  ...                118.0
2                             Aurora Innovation, Inc.  ...                 95.0
17                        Qualcomm Technologies, Inc.  ...                 58.0
18                             SAIC Innovation Center  ...                 56.0
7                                        Drive.ai Inc  ...                 53.0
11                          Nissan North America, Inc  ...                 48.0
12                                            Nullmax  ...                 35.0
15                                  Phantom AI, Inc.   ...                 26.0
8                                                Lyft  ...                 26.0
19                                    SF Motors, Inc.  ...                 25.0
10                                             NVIDIA  ...                 11.0
20                                      Telenav, Inc.  ...                  7.0
9   Mercedes0Benz Research & Development North Ame...  ...                  7.0
4                                BMW of North America  ...                  3.0
23                                         Udelv, Inc  ...                  2.0
22                          Toyota Research Institute  ...                  1.0
24                           Valeo North America Inc.  ...                  1.0
21                                        Tesla, Inc.  ...                  0.0

[28 rows x 4 columns]